.container {
  position: relative;
  height: calc(100vh - 69px);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 100px;
}

.video {
  max-width: 60%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
}

.welcomeBlock {
  position: absolute;
  text-align: center;
  margin-right: 20px;
}

.welcomeText {
  position: relative;
  font-size: 50px;
  color: black;
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 30px 20px;
  }

  .video {
    max-width: 100%;
    position: static;
    margin-top: 10px;
  }

  .welcomeBlock {
    position: static;
  }
}
