.container {
  box-sizing: content-box;
  position: relative;
  max-width: 350px;
  background-color: #fff;
  margin-bottom: 50px;
  display: grid;
  padding: 15px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

hr {
  height: 1px;
  background-color: rgb(135, 135, 135);
  margin-bottom: 10px;
}

.deleteBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
}

.deleteBtn img {
  width: 80%;
  opacity: 0.7;
  transition: opacity 0.1s ease-in;
}

.deleteBtn img:hover {
  opacity: 1;
}

.gradientBorder {
  --borderWidth: 5px;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradientBorder:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.userImg {
  max-width: 350px;
  max-height: 350px;
  justify-self: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.userInfo {
  margin-bottom: 8px;
}
