.container {
  background-color: rgba(128, 128, 128, 0.224);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.githubIcon {
  width: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  pointer-events: none;
}
