.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #467bad36;
}

.githubIcon {
  width: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
