.container {
  max-width: 1155px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  column-gap: 60px;
  row-gap: 60px;
  flex-wrap: wrap;
}

.pageBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.btn__current {
  background-color: #1976d2;
}
